
<hr>
params;
<%= p params %>
<hr>
firsttask;
<%= p @firsttask %>
<hr>
msg;
<%= p @msg %>
<hr>
<br>
<!-- 実行対象りすと -->
<%= p @acttask.title %>
<br>
11111
<br>
<%= p @acttask.detail %>
<br>
<!-- 実行リストランダム -->
<hr>
<% $tasks.each do |msg| %>
  <%= msg.id %> : <%= msg.title %> : <%= msg.detail %><br>
  <br>
<% end %>
<hr>
<%= link_to '実行', controller: "tasks", action: "action" %>


<!-- タイマー -->
<form name="timer">
<input type="text" value="0">分
<input type="text" value="2">秒<br>
<input type="button" value="スタート" onclick="cntStart()">
<input type="button" value="ストップ" onclick="cntStop()">
</form>

<!-- <form name="sampleform" action="action" method="POST">
<input type="hidden" name="valname1" value="val1"> -->

<%= form_tag(controller: "tasks",action:"action") do  %>
  <%= hidden_field_tag :name, "test" %>
  <%= submit_tag %>
<% end %>

<!-- スクリプト -->
<script>

var timer1; //タイマーを格納する変数（タイマーID）の宣言
// var target = document.getElementById("switch");

//カウントダウン関数を1000ミリ秒毎に呼び出す関数
function cntStart()
{
  document.timer.elements[2].disabled=true;
  timer1=setInterval("countDown()",1000);
}

//タイマー停止関数
function cntStop()
{
  document.timer.elements[2].disabled=false;
  clearInterval(timer1);
}

//カウントダウン関数
function countDown()
{
  var min=document.timer.elements[0].value;
  var sec=document.timer.elements[1].value;
  
  if( (min=="") && (sec=="") )
  {
    alert("時刻を設定してください！");
    reSet();
  }
  else
  {
    if (min=="") min=0;
    min=parseInt(min);
    
    if (sec=="") sec=0;
    sec=parseInt(sec);
    
    tmWrite(min*60+sec-1);
  }
}

//残り時間を書き出す関数
function tmWrite(int)
{
  int=parseInt(int);
  
  if (int<=0)
  {
    reSet();
    alert("時間です！");
    document.name.submit();
  }
  else
  {
    //残り分数はintを60で割って切り捨てる
    document.timer.elements[0].value=Math.floor(int/60);
    //残り秒数はintを60で割った余り
    document.timer.elements[1].value=int % 60;
  }
}

//フォームを初期状態に戻す（リセット）関数
function reSet()
{
  document.timer.elements[0].value="0";
  document.timer.elements[1].value="0";
  document.timer.elements[2].disabled=false;
  clearInterval(timer1);
}  
  
</script>
