<h1>実行リスト</h1>

<%= form_for(@task) do |f| %>


  <div><%= f.text_field :title %></div>
  <div><%= f.text_field :detail %></div>
  <div><%= f.hidden_field :user_id, value:current_user.id %></div>
  <%= f.submit %><br>
<% end %>
<hr>
<%= link_to '実行', controller: "tasks", action: "action" %>
<hr>
本日の未実行タスク
<% @falsetasks.each do |task| %>
  <%= task.id %> : <%= task.title %> : <%= task.detail %><br>
  <br>
<% end %>
<hr>
本日の実行済みタスク
<% @truetasks.each do |task| %>
  <%= task.id %> : <%= task.title %> : <%= task.detail %><br>
  <br>
<% end %>




