<h1>実行リスト</h1>

<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <% @task.errors.full_tasks.each do |err| %>
      <font color="red"><%= err %></font><br>
    <% end %>
  <% end %>

  <div><%= f.text_field :title %></div>
  <div><%= f.text_field :detail %></div>
  <%= f.submit %><br>
<% end %>
<hr>

<% @tasks.each do |msg| %>
  <%= msg.id %> : <%= msg.title %> : <%= msg.detail %><br>
  <br>
<% end %>
<hr>
<%= link_to '実行', controller: "tasks", action: "action" %>




